h1 {
    font-family: 'PT Serif', serif;
    font-weight: bold;
}
h2{
    font-family: 'PT Serif', serif;
    font-weight: bold;
}

h3{
    font-weight: normal;
}

h5{
    color: #FCAB10;
}
.row{
    margin-top: 24px;
}
button{
    margin-top: 24px;
}

.btn{
    color: #000;
    background-color: #FCAB10;
    border: none
}
.explore-btn{
    color: #FCAB10;
    background-color: #fff;
    border: 2px solid #FCAB10;
}



a{
    color: #006AA4;
}

/*  ************ MAIN CONTENT STYLE ************* */

/* style for tour container */
.tour-container{
    background-color:#f7f7f7!important ;

}
.tour-container h3{
    color: #FCAB10;
}
.card{
    border-radius: 10px;
}

.fa-heart{
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 5;
    color: red;
}

/* style for story container */
.story-container h3{
    color: #FCAB10;
}

.news{
    display: flex;
    flex-direction: row;  
}

.item{
    /* width: 20rem; */
    padding: 24px ;
    font-size: 2rem;
    line-height: 1;
    text-align: center;  
    /* margin: 8px; */
}

.item-1{
    flex-basis: 45%;
}

.item-2{
    flex-basis: 55%;
    text-align: left;
}

.item-2 h5{
    color: #3D3D3D;
    font-weight: lighter;
    margin-top: 18px ;
}
.item-2 p{
    font-size: 18px;
    line-height: 1.9em;
    padding-right: 36px;
    margin-top: 32px;
}

/* style for promotion container */
.text-overlay{
    z-index: 5;
    text-align: center;
}

/* ************ FOOTER STYLE ************* */
#sticky-footer {
    flex-shrink: none;
    background-image: url('../img/footer-lg.jpg');
    background-repeat: no-repeat;
}

.fa-facebook{
    margin: 0 8px;
}
.fa-instagram{
    margin: 0 8px;
}
.fa-twitter-square{
    margin: 0 8px;

}
#contact{
    background:#f8f9fa!important;
    padding:24px;
    border-radius: 10px;
}
.contact-form{
    margin-top: 8px;
}
.submit-btn{
    color: #FCAB10;
    background-color: #fff;
    border: 2px solid #FCAB10;
}


/*media queries*/
@media only screen and (min-width: 1200px){
    .jumbotron{
        background-image:url('../img/lg.jpg');
        min-height: 500px;
        background-repeat: no-repeat;
    }
    .fa-heart{
        font-size: 1.9em;
    }
    .item-1 img{
        max-width: 100%;
    }

    .sale-bg{
        background-image: url('../img/sale-lg.jpg');
        min-height: 500px;
    }
    .text-overlay{
        padding:200px ;
    }

    
}
    
@media only screen and (max-width: 1199px) and (min-width: 992px){
    .jumbotron{
        background-image:url("../img/md.jpg");
        min-height: 400px;
        background-repeat: no-repeat;
    } 
    .fa-heart{
        font-size: 1.65em;
    }
    .item-1 img{
        max-width: 100%;
    }
    .sale-bg{
        background-image: url('../img/sale-md.jpg');
        min-height: 400px;
    }
    .text-overlay{
        padding:80px ;
    }
    .text-overlay h3{
        margin-top: 28px ;
    }   

}
    
@media only screen and (max-width: 991px) and (min-width: 576px){
    .jumbotron{
        background-image:url("../img/sm.jpg");
        min-height: 300px;
        background-repeat: no-repeat;
    }
    label{
        font-size: 14px;
    }
    input::placeholder{
        font-size: 14px;
    }
    .fa-heart{
        font-size: 1.33em;
    }

    .item-1 img{
        max-width: 100%;
    }
    .sale-bg{
        background-image: url('../img/sale-sm.jpg');
        min-height: 300px;
    }

    .text-overlay{
        padding:48px ;
    }

    .text-overlay h3{
        margin-top: 22px ;
    }            
}
    
@media only screen and (max-width: 575px){
    .jumbotron{
        background-image:url("../img/xs.jpg");
        min-height: 200px;
        background-repeat: no-repeat;
    }

    label{
        font-size: 13px;
    }
    input::placeholder{
        font-size: 12px;
    }

    #nav-tab{
        font-size: 13px;
    }
    .custom-select{
        font-size: 12px;
    }
    .fa-heart{
        font-size: 1.20em;
    }
    .news{
        flex-direction: column;
    }

    .item-1 img{
        max-width: 100%;
    }
    .sale-bg{
        background-image: url('../img/sale-xs.jpg');
        min-height: 200px;
    }
    .text-overlay{
        padding:5px ;
    }
    .text-overlay h1{
        font-size: 36px;
    }
    .text-overlay h3{
        font-size: 24px;
        margin-top: 12px ;
    }
    .detail-btn{
        margin-top: 12px ;
    }

}